.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    background: #69BEA7;
    border-radius: 15px;
    padding: 25px;
}

#display {
    grid-column: span 4;
    border: 1px solid black;
    text-align: right;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    border-radius: 15px;

}

.column-2 {
    grid-column: span 2;
}

label {
    padding: 8px;
}

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 18px;
    border: none;
    background: #53cbab;
    font-size: 25px;
    color: white;
    font-family: digital-7;
}

button:active {
    background-color: #24a482;
}