.section {
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    padding: 70px;

}

.image {
    margin: auto;
    width: 800px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button {
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: #6362f7;
    color: white;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}

.Validation {
    margin-top: 30px;
    display: flex;

}

.datos label {
    margin-bottom: 10px;
    margin-left: 20px;

}

label {
    margin: 10px;
}


.Validation input {
    width: 100px;
    margin-top: 20px;


}

.Validation label {
    margin-bottom: 10px;
    margin-left: 20px;

}

input {
    width: 200px;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid;
    margin-top: 10px;
}